.hero-btn-primary,
.hero-btn-secondary {
    border-radius: 2.5rem;
    padding: 0.8rem 2.2rem;
    font-weight: 600;
    font-size: 1.05rem;
    text-decoration: none;
    transition: all 0.3s ease;
    flex-grow: 1;
    white-space: nowrap;
}

.hero-btn-primary {
    background-color: #02CAE3;
    color: #ffffff;
}

.hero-btn-primary:hover {
    background-color: #02CAE3;
    border-color: #02CAE3;
}

.hero-btn-secondary {
    background-color: transparent;
    color: #F3F6FA;
    border: 2px solid #F3F6FA;
}

.hero-btn-secondary:hover {
    background-color: #f0f0f0;
    color: #0049c6;
    border-color: #0049c6;
}

.hero-btn-primary i.bi,
.hero-btn-secondary i.bi {
    font-size: 1.1rem;
}