<app-hero-section>
    <h1 slot="title">
        ¡Lanza tu LLC en EE.UU. en 7 días!
    </h1>
    <p slot="description">
        Crea tu empresa y cuenta en EE.UU. de forma simple, online y con ayuda experta. ¡Vende al mundo sin fronteras!
        <br>
        <strong>¡No pags hasta tener tu cuenta de banco y empresa abierta!</strong>
    </p>
    <ng-container slot="cta-button">
        <button class="hero-btn primary" (click)="startProcess()">
            Iniciar mi empresa <i class="bi bi-arrow-right"></i>
        </button>
    </ng-container>
</app-hero-section>
<app-calendly-section></app-calendly-section>
<p>landing-open-relay works!</p>
<app-sc-footer></app-sc-footer>