<app-sc-header></app-sc-header>
<!--Section Hero-->
<header class="sc-hero">
  <div
    id="carouselExampleIndicators"
    class="carousel slide h-100"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="sc-slide h-100 container" id="slide1">
          <div class="row sc-slide-row">
            <div class="col">
              <div class="row mb-3">
                <h2>Expande Tu Libertad, abre tu LLC en estados unidos</h2>
              </div>
              <div
                class="row row-cols-1 row-cols-md-2 g-3 justify-content-center"
              >
                <div class="col">
                  <button type="button" class="btn btn-solid-white w-100">
                    Crea TU LLC <i class="bi bi-arrow-right"></i>
                  </button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-transparent-white w-100">
                    ABRE TU CUENTA LLC <i class="bi bi-arrow-right"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
              <p>
                Establece tu LLC en Estados Unidos y abre tu cuenta bancaria
                empresarial desde cualquier lugar para comenzar o expandir como
                una empresa global con facilidad, seguridad y sin
                complicaciones.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="sc-slide h-100 container" id="slide2">
          <div class="row sc-slide-row">
            <div class="col">
              <div class="row mb-3">
                <h2>Abre tu cuenta bancaria en EE. UU. con tu LLC activa</h2>
              </div>
              <div
                class="row row-cols-1 row-cols-md-2 g-3 justify-content-start"
              >
                <div class="col">
                  <button type="button" class="btn btn-solid-white w-100">
                    ABRIR CUENTA BANCARIA <i class="bi bi-arrow-right"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
              <p>
                Hoy crearon tu empresa con una cuenta empresarial 100% operativa
                desde cualquier lugar del mundo.
              </p>
              <p>
                Conecta tu LLC a una cuenta bancaria en Estados Unidos y accede
                a un sistema financiero sólido, confiable y global.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<app-sc-footer></app-sc-footer>
