<div class="container px-4">
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="title fw-bold text-body-emphasis">
        ¿Quierés que nos <span class="highlight">encarguemos</span> por tí?
      </h2>
      <ul class="list-actions">
        <li>Revisión de documentos</li>
        <li>Carga completa en Relay</li>
        <li>Acompañamiento paso a paso</li>
        <li>Soporte por WhatsApp</li>
        <li>CTA de contacto</li>
        <li>CTA AHI</li>
        <li><span class="garanty-highlight">Garantía 100%</span> si la cuenta es rechazada</li>
      </ul>
      <a href="#" class="cta-button btn btn-primary btn-lg">
        Que me acompañen paso a paso ($99 USD)
        <i class="bi bi-arrow-right ms-2"></i>
      </a>
    </div>
    <div class="col">
      <img
        src="/assets/relay/work.jpg"
        alt="Hombre trabajando en laptop"
        class="vertical-img"
      />
    </div>
  </div>
</div>
