<section class="steps-section py-4">
  <app-responsive-image
    [images]="heroImages"
    context="hero"
    loading="lazy"
    cssClass="sc-hero-bg"
  >
  </app-responsive-image>
  <div class="container">
    <!-- Título principal -->
    <h1 class="display-4 text-center main-title">
      {{ "LANDINGS.steps.title" | transloco }}
    </h1>

    <!-- Pasos del proceso -->
    <div class="steps-wrapper">
      <div class="step-one">
        <div class="step-icon">
          <span>1</span>
        </div>
        <div class="step-content">
          <h3 class="step-title">
            {{ "LANDINGS.steps.step1.title" | transloco }}
          </h3>
          <p class="step-description">
            {{ "LANDINGS.steps.step1.description" | transloco }}
          </p>
          <button
            class="step-cta-btn desktop-only"
            (click)="scrollToCalendly()"
          >
            {{ "LANDINGS.steps.scheduleCall" | transloco }}
            <i class="bi bi-calendar-check ms-2"></i>
          </button>
        </div>
      </div>
      <div class="step-two">
        <div class="step-icon">
          <span>2</span>
        </div>
        <div class="step-content">
          <h3 class="step-title">
            {{ "LANDINGS.steps.step2.title" | transloco }}
          </h3>
          <p class="step-description">
            {{ "LANDINGS.steps.step2.description" | transloco }}
          </p>
        </div>
      </div>
      <div class="step-three">
        <div class="step-icon">
          <span>3</span>
        </div>
        <div class="step-content">
          <h3 class="step-title">
            {{ "LANDINGS.steps.step3.title" | transloco }}
          </h3>
          <p class="step-description">
            {{ "LANDINGS.steps.step3.description" | transloco }}
          </p>
        </div>
      </div>
      <div class="step-four">
        <div class="step-icon">
          <span>4</span>
        </div>
        <div class="step-content">
          <h3 class="step-title">
            {{ "LANDINGS.steps.step4.title" | transloco }}
          </h3>
          <p class="step-description">
            {{ "LANDINGS.steps.step4.description" | transloco }}
          </p>
        </div>
      </div>
      <div class="step-line"></div>
    </div>
    <p class="lead text-center">
      {{ "LANDINGS.steps.bottomStatement" | transloco }}
    </p>
  </div>
</section>
