<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="article-section">
        <h2 class="article-title">
          Artículos <span class="highlighted-text">destacados</span>
        </h2>
        <div class="row">
          <div class="col-12 mb-4">
            <div
              *ngFor="let topArticle of topArticles"
              class="card article-card mb-4"
            >
              <div class="row g-0">
                <div
                  class="col-md-5 d-flex align-items-center justify-content-center"
                >
                <img
                    src="{{topArticle.image_url}}"
                    class="img-fluid"
                    alt="Imagen del artículo"
                  />
                  <!--<img
                    src="/assets/blog/article.webp"
                    class="img-fluid"
                    alt="Imagen del artículo"
                  />-->
                </div>
                <div class="col-md-7 d-flex flex-column justify-content-center">
                  <div class="card-body">
                    <h3 class="card-title">{{ topArticle.title }}</h3>
                    <a
                      href="/post/{{topArticle.slug}}"
                      class="btn btn-light rounded-pill mt-3"
                      >Leer más</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 categories-column">
      <div class="category-section p-4 rounded">
        <h4 class="category-title">Categorías</h4>
        <ul class="list-unstyled mb-0 category-list">
          <li *ngFor="let category of categories">
            <!--<a href="/blog/categoria/{{ category.slug }}">{{
              category.name
            }}</a>-->
            <a href="/category/{{ category.slug }}">{{
              category.name
            }}</a>
            <span class="badge text-secondary"
              >({{ category.count }})</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div *ngFor="let mainArticle of mainArticles" class="col-md-6 mb-4">
      <div class="card horizontal-card">
        <div class="row g-0">
          <div class="col-4">
            <img
              src="{{mainArticle.image_url}}"
              class="img-fluid rounded-start"
              alt="Artículo pequeño"
            />
            <!--<img
              src="/assets/blog/article-small.webp"
              class="img-fluid rounded-start"
              alt="Artículo pequeño"
            />-->
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">{{ mainArticle.title }}</h5>
              <p class="card-text small text-muted">
                {{ stripHtmlTags(mainArticle.excerpt) }}
              </p>
              <div class="container">
                <!--<a
                  href="/apertura-llc"
                  class="btn btn-light btn-sm btn-outline-secondary rounded-pill"
                  >Gestionar tu LLC</a
                >-->
                <a
                  href="/post/{{mainArticle.slug}}"
                  class="btn btn-light btn-sm btn-outline-secondary rounded-pill"
                  >Leer más</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
