/* Estilos para el título de "Artículos destacados" */
.article-title {
  font-size: 2.5rem; /* Ajusta el tamaño de la fuente */
  font-weight: 700;
}

.highlighted-text {
  color: var(--color-secundario-tecnico); /* El color turquesa de la imagen */
}

/* Estilos de la tarjeta del artículo */
.article-card {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Asegura que la imagen no sobresalga */
  background-color: var(--color-fondo-gris); /* Fondo gris claro */
}

/* Estilos de la imagen dentro de la tarjeta */
.article-card img {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  height: 100%; /* Asegura que la imagen llene la altura del contenedor */
  object-fit: cover; /* Mantiene la proporción de la imagen sin distorsionarla */
}

/* Estilos de la sección de categorías */
.category-section {
  
  height: 100%;
}

.category-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.category-list li {
  display: flex;
  justify-content: space-between; /* Alinea el texto y el número */
  margin-bottom: 0.5rem; /* Espaciado entre elementos de la lista */
}

.category-list li a {
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: var(--color-texto-oscuro); /* Color de texto oscuro */
}

/* Estilos del botón */
.btn-light {
  background-color: var(--color-secundario-tecnico);
  color: var(--color-fondo-claro);
  font-weight: bold;
  padding: 0.5rem 2rem;
  border: none;
}
.horizontal-card {
  border: 1px solid var(--color-fondo-claro);
  border-radius: 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  overflow: hidden; /* Asegura que la imagen redondeada no se salga */
  background-color: var(--color-fondo-gris);
}


.horizontal-card img {
  height: 100%;
  object-fit: cover;
}


.horizontal-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}


.horizontal-card .card-title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}


.horizontal-card .btn-sm {
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
}
.categories-column {
    display: flex;
}
@media (max-width: 780px) {
  .categories-column {
    display: none !important; /* Oculta la columna de categorías en pantallas pequeñas */
  }
}