.card-unified {
  border: 2px solid var(--color-secundario-tecnico);
  border-radius: 2rem;
  background-color: var(--color-fondo-claro);
}
.card-unified a {
  background-color: var(--color-secundario-tecnico);
  color: var(--color-fondo-claro);
  font-size: 1.5rem;
  border-radius: 1.5rem;
}
.card-unified h1 {
  font-size: 2rem;
  color: var(--color-texto-oscuro);
}
.card-unified li {
  font-size: 1rem;
  color: var(--color-texto-oscuro);
}
@media (max-width: 576px) {
  .card-unified a {
    font-size: 0.9rem;
  }
  .card-unified h1 {
    font-size: 1rem;
  }
  .card-unified li {
    font-size: 0.9rem;
  }
}
