<div class="container">
  <div class="row justify-content-center pt-5">
    <div class="col-12 col-lg-6">
      <div class="card card-unified">
        <div class="card-body">
          <h1 class="card-title pricing-card-title m-4">
            {{ "LANDINGS.pricing_options.card_unified.title" | transloco }}
          </h1>
          <ul class="mt-3 mb-4 text-start">
            <li>
              {{ "LANDINGS.pricing_options.card_unified.list.item1" | transloco }}
            </li>
            <li>
              {{ "LANDINGS.pricing_options.card_unified.list.item2" | transloco }}
            </li>
            <li>
              {{ "LANDINGS.pricing_options.card_unified.list.item3" | transloco }}
            </li>
            <li>
              {{ "LANDINGS.pricing_options.card_unified.list.item4" | transloco }}
            </li>
            <li>
              {{ "LANDINGS.pricing_options.card_unified.list.item5" | transloco }}
            </li>
          </ul>
          <div class="row justify-content-center mt-4">
            <div class="col-auto">
              <a
                langRouterLink="/form-apertura-relay"
                class="btn btn-lg btn-primary"
                (click)="onFormClick()"
              >
                {{ "LANDINGS.pricing_options.card_unified.cta" | transloco }}
                <i class="bi bi-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
