<!-- SEO Base Component -->
<app-seo-base routeKey="blog"></app-seo-base>

<app-sc-header *ngIf="isBrowser"></app-sc-header>
<section class="sc-blog-hero py-5">
  <app-responsive-image
    [images]="heroImages"
    context="hero"
    loading="eager"
    cssClass="sc-hero-bg"
  >
  </app-responsive-image>

  <div class="container py-5">
    <div class="row align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis">
          {{ "BLOG.title_hero" | transloco }}
        </h1>
      </div>
      <div class="col-lg-6">
        <p class="lead">
          {{ "BLOG.lead_hero" | transloco }}
        </p>
      </div>
    </div>
  </div>
</section>
<!--Articles Carrousel-->
<section class="my-5">
  <app-blog-articles [categorySlug]="blogCategorySlug()"></app-blog-articles>
</section>
<app-blog></app-blog>
<section class="my-5">
  <app-blog-questions></app-blog-questions>
</section>
<app-sc-footer></app-sc-footer>
