<nav
  #navbar
  class="navbar navbar-expand-lg navbar-dark fixed-top sc-navbar"
  [ngClass]="{ 'sc-navbar-light': isOpen || isNavbarShrunk }"
>
  <div class="container">
    <div
      class="container d-flex flex-wrap align-items-center justify-content-between"
    >
      <a class="navbar-brand me-auto" href="/">
        <app-responsive-image
          [images]="(logoImages$ | async)!"
          context="logo"
          loading="eager"
          cssClass="sc-navbar-logo"
        >
        </app-responsive-image>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="container">
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarNav"
      >
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li
            class="nav-item"
            [ngClass]="{ active: isRouteActive('/nosotros') }"
          >
            <a
              [ngClass]="{ 'nav-link-dark': isOpen || isNavbarShrunk }"
              class="nav-link"
              aria-current="page"
              href="/nosotros"
              >{{ "NAVBAR.us" | transloco }}</a
            >
          </li>
          <li
            class="nav-item"
            [ngClass]="{
              active: isRouteActive('/planes') || isRouteActive('/pricing')
            }"
          >
            <a
              [ngClass]="{ 'nav-link-dark': isOpen || isNavbarShrunk }"
              class="nav-link"
              href="javascript:void(0)"
              (click)="navigateToPlansSection()"
              >{{ "NAVBAR.plans" | transloco }}</a
            >
          </li>
          <li class="nav-item" [ngClass]="{ active: isRouteActive('/blog') }">
            <a
              [ngClass]="{ 'nav-link-dark': isOpen || isNavbarShrunk }"
              aria-current="page"
              class="nav-link"
              href="/blog"
              >{{ "NAVBAR.blog" | transloco }}</a
            >
          </li>
          <li
            class="nav-item"
            [ngClass]="{ active: isRouteActive('/contacto') }"
          >
            <a
              [ngClass]="{ 'nav-link-dark': isOpen || isNavbarShrunk }"
              class="nav-link"
              href="/contacto"
              >{{ "NAVBAR.contact" | transloco }}</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div
      class="container justify-content-end"
      style="display: flex; padding-top: 1rem; padding-bottom: 1rem"
    >
      <div class="d-none d-lg-block">
        <button
          data-cal-link="startcompanies-businessenusa/agenda-organica"
          data-cal-namespace="agenda-organica"
          data-cal-config='{"layout":"month_view","theme":"light"}'
          type="button"
          class="btn sc-btn-accent"
        >
          {{ "NAVBAR.call" | transloco }} <i class="bi bi-arrow-right"></i>
        </button>
        <!--<div class="dropdown">
          <button class="btn sc-btn-language dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{ currentLang === 'es' ? 'ES' : 'EN' }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#" (click)="changeLanguage('en')">EN</a></li>
            <li><a class="dropdown-item" href="#" (click)="changeLanguage('es')">ES</a></li>
          </ul>
        </div>-->
      </div>
    </div>
  </div>
</nav>
