<div class="payment-step">
  <h4 class="mb-3">{{ 'WIZARD.checkout.title' | transloco }}</h4>
  <p>{{ 'WIZARD.checkout.summary' | transloco }}</p>

  <ul class="list-group mb-4">
    <li class="list-group-item">
      <strong>{{ 'WIZARD.checkout.service_label' | transloco }}:</strong>
      {{ packId || ('WIZARD.checkout.not_specified' | transloco) }}
    </li>
    <li class="list-group-item">
      <strong>{{ 'WIZARD.checkout.state_label' | transloco }}:</strong>
      {{ state || ('WIZARD.checkout.not_selected' | transloco) }}
    </li>
  </ul>

  <form [formGroup]="form">


    <div class="row mb-3">
      <div class="col">
        <div class="stripe-field" id="card-number"></div>
      </div>
    </div>

    <!-- Renglón 2 -->
    <div class="row mb-1">
      <div class="col">
        <div class="stripe-field" id="card-expiry"></div>
      </div>
      <div class="col">
        <div class="stripe-field" id="card-cvc"></div>
      </div>
    </div>
    <div class="row mb-2 d-flex justify-content-end">
      <img src="assets/logo-stripe.png" alt="Stripe" class="stripe-logo" />
    </div>
    <div class="row ps-2 pe-2">
      <button class="pay-button d-flex justify-content-center align-items-center" (click)="pay()">
        <span>{{ ('WIZARD.checkout.pay_button' | transloco:{ amount: totalAmount }) }}</span>
      </button>
    </div>
  </form>
</div>