<div class="container py-5">
  <div class="row">
    <div class="col-12 text-center">
      <app-responsive-image
        [images]="logoImages"
        context="logo"
        loading="eager"
        cssClass="img-fluid"
      >
      </app-responsive-image>
    </div>
  </div>
  <div class="row align-items-center g-5 py-3 px-4">
    <div class="col-lg-6">
      <!-- Contenedor del video -->
      <app-wistia-player
        ngSkipHydration
        mediaId="o9xq5e1pus"
      ></app-wistia-player>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 hero-title">
        Sin adelantos: pagas después de tener tu LLC y cuenta bancaria
      </h1>
      <p class="lead hero-description">
        Abre tu empresa en EE.UU. en menos de 7 días, 100% online y con
        acompañamiento experto.
      </p>
      <p class="lead hero-description">
        Evita comisiones e impuestos innecesarios con nuestra gestión integral.
      </p>
      <div class="d-flex hero-btn-container">
        <div class="row">
          <div class="d-grid col-6">
            <button
              class="btn hero-btn-primary"
              type="button"
              (click)="navigateToCalendlySection()"
            >
              Empezar mi proceso de LLC
              <i class="bi bi-arrow-right ms-2"></i>
            </button>
          </div>
        </div>
      </div>
      <!--<div>
        <button
          class="btn btn-outline-secondary btn-lg px-4 hero-btn-primary"
          (click)="navigateToCalendlySection()"
        >
          Empezar mi proceso de LLC
          <i class="bi bi-arrow-right ms-2"></i>
        </button>
      </div>-->
    </div>
  </div>
</div>
