<div class="container py-5">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <app-responsive-image
        [images]="logoImages"
        context="logo"
        loading="eager"
        cssClass="img-fluid">
      </app-responsive-image>
    </div>
  </div>
  <div class="row align-items-center g-5 py-5">
    <div class="col-lg-6">
      <!-- Contenedor del video -->
      <app-wistia-player ngSkipHydration mediaId="o9xq5e1pus"></app-wistia-player>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 hero-title">
        ¡Lanza tu LLC en EE.UU. en menos de 7 días!
      </h1>
      <p class="lead hero-description">
        Crea tu empresa y tu cuenta en EE.UU. de forma simple, online y con
        ayuda experta.
      </p>
      <p class="lead hero-description">¡Vende al mundo sin fronteras!</p>
      <p class="lead hero-description">
        ¡No pagas hasta tener tu cuenta de banco y empresa abierta!
      </p>
      <div>
        <button
          class="btn btn-outline-secondary btn-lg px-4 hero-btn-primary"
          (click)="navigateToCalendlySection()"
        >
          Empezar con una reunión gratuita
          <i class="bi bi-arrow-right ms-2"></i>
        </button>
      </div>
    </div>
  </div>
</div>
