<div class="testimonials-carousel-container">
  <div
    id="testimonialsCarouselDesktop"
    class="carousel slide d-none d-md-block"
    data-bs-ride="carousel"
    data-bs-interval="5000"
  >
    <div class="carousel-inner">
      <div
        class="carousel-item"
        *ngFor="let chunk of chunkedReviews; let i = index"
        [class.active]="i === 0"
      >
        <div class="row justify-content-center px-5">
          <div class="col-12 col-md-6 d-flex" *ngFor="let testimonial of chunk">
            <div class="testimonial-card w-100 h-100 mx-0">
              <img
                [src]="
                  testimonial.author_pic
                    ? testimonial.author_pic
                    : 'assets/testimonials/img_young_bearded_m.png'
                "
                [alt]="testimonial.author_name"
                class="testimonial-avatar rounded-circle img-fluid"
              />
              <h4 class="testimonial-name">
                {{ testimonial.author_name }}
              </h4>
              <p class="testimonial-location">
                {{ testimonial.author_country_name }}
              </p>
              <p class="testimonial-text">
                {{ testimonial.review_text }}
              </p>
              <div class="rating d-flex justify-content-center">
                <i
                  *ngFor="let star of [].constructor(testimonial.rating)"
                  class="bi bi-star-fill star-icon"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-indicators testimonials-carousel-indicators">
      <button
        type="button"
        data-bs-target="#testimonialsCarouselDesktop"
        *ngFor="let chunk of chunkedReviews; let i = index"
        [attr.data-bs-slide-to]="i"
        [class.active]="i === 0"
        [attr.aria-label]="'Slide ' + (i + 1)"
      ></button>
    </div>
  </div>

  <div
    id="testimonialsCarouselMobile"
    class="carousel slide d-md-none"
    data-bs-ride="carousel"
    data-bs-interval="5000"
  >
    <div class="carousel-inner">
      <div
        class="carousel-item"
        *ngFor="let review of reviews; let i = index"
        [class.active]="i === 0"
      >
        <div class="row justify-content-center">
          <div class="col-12 d-flex">
            <div class="testimonial-card w-100">
              <img
                [src]="
                  review.author_pic
                    ? review.author_pic
                    : 'assets/testimonials/img_young_bearded_m.png'
                "
                [alt]="review.author_name"
                class="testimonial-avatar rounded-circle img-fluid"
              />
              <h4 class="testimonial-name">{{ review.author_name }}</h4>
              <p class="testimonial-location">
                {{ review.author_country_name }}
              </p>
              <p class="testimonial-text">
                <span>{{ review.review_title }}</span
                >{{ review.review_text }}
              </p>
              <div class="rating d-flex justify-content-center">
                <i
                  *ngFor="let star of [].constructor(review.rating)"
                  class="bi bi-star-fill star-icon"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-indicators testimonials-carousel-indicators">
      <button
        type="button"
        type="button"
        data-bs-target="#testimonialsCarouselMobile"
        *ngFor="let review of reviews; let i = index"
        [attr.data-bs-slide-to]="i"
        [class.active]="i === 0"
        [attr.aria-current]="i === 0 ? 'true' : null"
        [attr.aria-label]="'Slide ' + (i + 1)"
      ></button>
    </div>
  </div>
</div>
