<div class="container">
  <div class="row justify-content-center g-5 equal-height pt-5">
    <div class="col-12 col-lg-4">
      <div class="card card-left">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-auto">
              <a target="_blank" href="https://api.whatsapp.com/send/?phone=17869354213&text=Hola+vengo+de+Start+Companies+y+quiero+mi+aplicacion+gratis&type=phone_number&app_absent=0" class="btn btn-lg btn-primary">
                Aplicar gratis
                <i class="bi bi-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
          <h1 class="card-title pricing-card-title m-4">
            Completo el formulario por mi cuenta
          </h1>
          <ul class="mt-3 mb-4 text-start">
            <li>Completás el formulario</li>
            <li>Procesamos tus datos</li>
            <li>Recibís el link de verificación facial</li>
            <li>Activás tu cuenta</li>
            <li>100% online y sin costo</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card card-right">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-auto">
              <a target="_blank" href="https://api.whatsapp.com/send/?phone=17869354213&text=Hola+vengo+de+Start+Companies+y+quiero+mi+aplicacion+asistida+por+%2499&type=phone_number&app_absent=0" class="btn btn-lg btn-primary">
                Aplicar por $ 99 USD
                <i class="bi bi-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
          <h1 class="card-title pricing-card-title m-4">
            Quiero que Start Companies lo complete
          </h1>
          <ul class="mt-3 mb-4 text-start">
            <li>Revisamos y cargamos todo por tí</li>
            <li>Te acompañamos por WhatsApp</li>
            <li>Seguimiento directo con Relay</li>
            <li>Garantía 100% si la cuenta es rechazada</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>