<div class="video-grid-section-wrapper">
  <!-- Título principal -->
  <h2 class="main-title" *ngIf="title">
    <span class="title-part">{{ title }}</span>
    <span class="title-highlight" *ngIf="titleHighlight">{{
      titleHighlight
    }}</span>
  </h2>

  <!-- Descripción -->
  <p class="description" *ngIf="description">
    {{ description }}
  </p>

  <!-- Cuadrícula de videos -->
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="video-container">
        <div appLazyWistia [appLazyWistia]="'b5xb8pkpzj'" [aspectRatio]="0.5625" [vertical]="true" [popover]="isMobile"></div>
      </div>
    </div>
    <div class="col-6">
      <div class="video-container">
        <div appLazyWistia [appLazyWistia]="'i3qiul9gc8'" [aspectRatio]="0.5625" [vertical]="true" [popover]="isMobile"></div>
      </div>
    </div>
  </div>
</div>
