<div class="video-grid-section-wrapper">
  <!-- Título principal -->
  <h2 class="main-title" *ngIf="title">
    <span class="title-part">{{ title }}</span>
    <span class="title-highlight" *ngIf="titleHighlight">{{
      titleHighlight
    }}</span>
  </h2>

  <!-- Descripción -->
  <p class="description" *ngIf="description">
    {{ description }}
  </p>

  <!-- Cuadrícula de videos -->
  <div class="video-grid">
    <div class="video-row">
      <div class="video-item">
        <app-wistia-player ngSkipHydration mediaId="1gfm7c0y9h"></app-wistia-player>
      </div>
      <div class="video-item">
        <app-wistia-player ngSkipHydration mediaId="4umvha5zak"></app-wistia-player>
      </div>
      <div class="video-item">
        <app-wistia-player ngSkipHydration mediaId="1gfm7c0y9h"></app-wistia-player>
      </div>
    </div>
  </div>
</div>
