<div class="client-form-cuenta">
    <h4 class="mb-3">
        {{ 'WIZARD.llcType.title' | transloco }}
    </h4>

    <form [formGroup]="form">

        <div class="form-group mb-3">
            <label>
                {{ 'WIZARD.llcType.label' | transloco }}
            </label>

            <select class="form-control" formControlName="llcType">
                <option value="">
                    {{ 'COMMON.select_option' | transloco }}
                </option>
                <option value="single">
                    {{ 'WIZARD.llcType.single' | transloco }}
                </option>
                <option value="multi">
                    {{ 'WIZARD.llcType.multi' | transloco }}
                </option>
            </select>

            <div *ngIf="form.get('llcType')?.touched && form.get('llcType')?.invalid" class="text-danger mt-1">
                {{ 'WIZARD.llcType.required' | transloco }}
            </div>
        </div>

    </form>
</div>