<section class="key-benefits-section">
    <div class="container">
        <div class="text-center">
            <h2>
                <span class="title-part">{{ title.split('Start Companies')[0] }}</span>
                <span class="title-highlight">{{ titleHighlight }}</span>
            </h2>
        </div>

        <div class="text-center">
            <p>{{ description }}</p>
            <p class="subtitle">
                Descubre por qué más de
                <span class="highlight">{{ subtitleHighlights[0] }}</span>
                nos califican como
                <span class="highlight">{{ subtitleHighlights[1] }}</span>.
            </p>
        </div>

        <div class="col-lg-8 mx-auto">
            <div class="row row-cols-1 row-cols-sm-2 g-3 d-flex align-items-stretch">
                <div class="col" *ngFor="let benefit of benefits">
                    <div class="card text-center h-100">
                        <div class="container pt-3">
                            <img [src]="benefit.icon" [alt]="benefit.title" class="img-fluid image-icon">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{benefit.title}}
                            </h5>
                            <p class="card-text benefit-description">
                                {{benefit.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>