<div class="container">
  <div class="faq-content">
    <h2 class="faq-title text-center mb-5">
      {{ "CONTENT.faq.title1" | transloco }}
      <span class="highlight">{{ "CONTENT.faq.title2" | transloco }}</span>
    </h2>

    <div class="faq-list" id="faqAccordion">
      <div class="faq-item-static">
        <div
          class="faq-question-static collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          {{ "CONTENT.faq.question1" | transloco }}
          <i class="bi bi-chevron-down faq-arrow-icon"></i>
        </div>
        <div id="collapseOne" class="collapse" data-bs-parent="#faqAccordion">
          <div class="faq-answer text-start py-3">
            {{ "CONTENT.faq.answer1" | transloco }}
            <button
              data-cal-link="startcompanies-businessenusa/agenda-organica"
              data-cal-namespace="agenda-organica"
              data-cal-config='{"layout":"month_view","theme":"light"}'
              type="button"
              class="btn sc-btn-accent px-4 py-3 shadow-lg d-block mt-4 mb-3"
            >
              {{ "CONTENT.faq.button" | transloco }}
            </button>
          </div>
        </div>
      </div>

      <div class="faq-item-static">
        <div
          class="faq-question-static collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          {{ "CONTENT.faq.question2" | transloco }}
          <i class="bi bi-chevron-down faq-arrow-icon"></i>
        </div>
        <div id="collapseTwo" class="collapse" data-bs-parent="#faqAccordion">
          <div class="faq-answer text-start py-3">
            {{ "CONTENT.faq.answer2" | transloco }}
            <button
              data-cal-link="startcompanies-businessenusa/agenda-organica"
              data-cal-namespace="agenda-organica"
              data-cal-config='{"layout":"month_view","theme":"light"}'
              type="button"
              class="btn sc-btn-accent px-4 py-3 shadow-lg d-block mt-4 mb-3"
            >
              {{ "CONTENT.faq.button" | transloco }}
            </button>
          </div>
        </div>
      </div>

      <div class="faq-item-static">
        <div
          class="faq-question-static collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          {{ "CONTENT.faq.question3" | transloco }}
          <i class="bi bi-chevron-down faq-arrow-icon"></i>
        </div>
        <div id="collapseThree" class="collapse" data-bs-parent="#faqAccordion">
          <div class="faq-answer text-start py-3">
            {{ "CONTENT.faq.answer3" | transloco }}
            <button
              data-cal-link="startcompanies-businessenusa/agenda-organica"
              data-cal-namespace="agenda-organica"
              data-cal-config='{"layout":"month_view","theme":"light"}'
              type="button"
              class="btn sc-btn-accent px-4 py-3 shadow-lg d-block mt-4 mb-3"
            >
              {{ "CONTENT.faq.button" | transloco }}
            </button>
          </div>
        </div>
      </div>

      <div class="faq-item-static">
        <div
          class="faq-question-static collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          {{ "CONTENT.faq.question4" | transloco }}
          <i class="bi bi-chevron-down faq-arrow-icon"></i>
        </div>
        <div id="collapseFour" class="collapse" data-bs-parent="#faqAccordion">
          <div class="faq-answer text-start py-3">
            {{ "CONTENT.faq.answer4" | transloco }}
            <ol>
              <li>{{ "CONTENT.faq.answer4List.1" | transloco }}</li>
              <li>
                {{ "CONTENT.faq.answer4List.2" | transloco }}
              </li>
              <li>{{ "CONTENT.faq.answer4List.3" | transloco }}</li>
              <li>{{ "CONTENT.faq.answer4List.4" | transloco }}</li>
              <li>{{ "CONTENT.faq.answer4List.5" | transloco }}</li>
            </ol>
            <button
              data-cal-link="startcompanies-businessenusa/agenda-organica"
              data-cal-namespace="agenda-organica"
              data-cal-config='{"layout":"month_view","theme":"light"}'
              type="button"
              class="btn sc-btn-accent px-4 py-3 shadow-lg d-block mt-4 mb-3"
            >
              {{ "CONTENT.faq.button" | transloco }}
            </button>
          </div>
        </div>
      </div>

      <div class="faq-item-static">
        <div
          class="faq-question-static collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          {{ "CONTENT.faq.question5" | transloco }}
          <i class="bi bi-chevron-down faq-arrow-icon"></i>
        </div>
        <div id="collapseFive" class="collapse" data-bs-parent="#faqAccordion">
          <div class="faq-answer text-start py-3">
            {{ "CONTENT.faq.answer5" | transloco }}
            <ol>
              <li>{{ "CONTENT.faq.answer5List.1" | transloco }}</li>
              <li>{{ "CONTENT.faq.answer5List.2" | transloco }}</li>
              <li>{{ "CONTENT.faq.answer5List.3" | transloco }}</li>
              <li>{{ "CONTENT.faq.answer5List.4" | transloco }}</li>
              <li>{{ "CONTENT.faq.answer5List.5" | transloco }}</li>
            </ol>
            <button
              data-cal-link="startcompanies-businessenusa/agenda-organica"
              data-cal-namespace="agenda-organica"
              data-cal-config='{"layout":"month_view","theme":"light"}'
              type="button"
              class="btn sc-btn-accent px-4 py-3 shadow-lg d-block mt-4 mb-3"
            >
              {{ "CONTENT.faq.button" | transloco }}
            </button>
          </div>
        </div>
      </div>

      <div class="faq-item-static">
        <div
          class="faq-question-static collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          {{ "CONTENT.faq.question6" | transloco }}
          <i class="bi bi-chevron-down faq-arrow-icon"></i>
        </div>
        <div id="collapseSix" class="collapse" data-bs-parent="#faqAccordion">
          <div class="faq-answer text-start py-3">
            {{ "CONTENT.faq.answer6" | transloco }}
            <button
              data-cal-link="startcompanies-businessenusa/agenda-organica"
              data-cal-namespace="agenda-organica"
              data-cal-config='{"layout":"month_view","theme":"light"}'
              type="button"
              class="btn sc-btn-accent px-4 py-3 shadow-lg d-block mt-4 mb-3"
            >
              {{ "CONTENT.faq.button" | transloco }}
            </button>
          </div>
        </div>
      </div>

      <div class="faq-item-static">
        <div
          class="faq-question-static collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSeven"
          aria-expanded="false"
          aria-controls="collapseSeven"
        >
          {{ "CONTENT.faq.question7" | transloco }}
          <i class="bi bi-chevron-down faq-arrow-icon"></i>
        </div>
        <div id="collapseSeven" class="collapse" data-bs-parent="#faqAccordion">
          <div class="faq-answer text-start py-3">
            {{ "CONTENT.faq.answer7" | transloco }}
            <ol>
              <li>{{ "CONTENT.faq.answer7List.1" | transloco }}</li>
              <li>{{ "CONTENT.faq.answer7List.2" | transloco }}</li>
              <li>{{ "CONTENT.faq.answer7List.3" | transloco }}</li>
              <li>{{ "CONTENT.faq.answer7List.4" | transloco }}</li>
              <li>{{ "CONTENT.faq.answer7List.5" | transloco }}</li>
            </ol>
            <button
              data-cal-link="startcompanies-businessenusa/agenda-organica"
              data-cal-namespace="agenda-organica"
              data-cal-config='{"layout":"month_view","theme":"light"}'
              type="button"
              class="btn sc-btn-accent px-4 py-3 shadow-lg d-block mt-4 mb-3"
            >
              {{ "CONTENT.faq.button" | transloco }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
