/* =========================
   FAQ SECTION
   ========================= */
/*.faq-section {
  background-color: #fafafa;
  padding: 80px 16px;
}*/
.faq-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.faq-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-texto-oscuro);
  margin-bottom: 60px;
}
.faq-title .highlight {
  color: #02cae3;
}
.faq-list {
  max-width: 800px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}
.faq-item-static {
  background-color: transparent;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 24px;
  transition: background-color 0.3s ease;
}
.faq-item-static:last-child {
  border-bottom: none;
}
/*.faq-item-static:hover {
  background-color: #f0f0f0;
  cursor: default;
}*/
.faq-question-static {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-texto-oscuro);
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq-question-static h2 {
  font-size: 1.1rem;
}
.faq-arrow-icon {
  font-size: 16px;
  color: var(--color-texto-oscuro);
  margin-left: 10px;
  flex-shrink: 0;
}
/* Estilo del botón "Agendar llamada" */
.sc-btn-accent {
  background-color: var(--color-secundario-tecnico);
  /* Color verde */
  color: var(--color-fondo-claro);
  border: none;
  border-radius: 2.5rem;
  /* Bordes muy redondeados */
  padding: 0.75rem 1.5rem;
  /* Relleno */
  font-weight: 600;
  font-size: 1rem;
  display: inline-flex;
  /* Para alinear texto e icono */
  align-items: center;
  transition: background-color 0.3s ease;
}
@media (max-width: 500px) {
  .sc-btn-accent{
    font-size: 0.7rem;
  }
}
