<div class="basic-register-step">
  <h4>{{ 'WIZARD.steps.register' | transloco }}</h4>
  <form [formGroup]="form">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>{{ 'WIZARD.basic_register.full_name' | transloco }} <span class="text-danger">*</span></label>
          <input class="form-control" formControlName="fullName" />
          <div *ngIf="form.get('fullName')?.touched && form.get('fullName')?.invalid" class="text-danger mt-1">
            {{ 'WIZARD.basic_register.full_name_required' | transloco }}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>{{ 'WIZARD.basic_register.phone' | transloco }} <span class="text-danger">*</span></label>
          <input class="form-control" formControlName="phone" maxlength="15" />
          <div *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid" class="text-danger mt-1">
            {{ 'WIZARD.basic_register.phone_required' | transloco }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>{{ 'WIZARD.basic_register.email' | transloco }} <span class="text-danger">*</span></label>
          <input class="form-control" formControlName="email" />
          <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="text-danger mt-1">
            {{ 'WIZARD.basic_register.email_required' | transloco }}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>{{ 'WIZARD.basic_register.password' | transloco }} <span class="text-danger">*</span></label>
          <input type="password" class="form-control" formControlName="password" />
          <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="text-danger mt-1">
            {{ 'WIZARD.basic_register.password_required' | transloco }}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>