<div class="container px-4">
  <div class="row align-items-center">
    <!-- Columna izquierda - Texto -->
    <div class="col-md-6">
      <h2 class="title fw-bold text-body-emphasis mb-4">
        {{'LANDINGS.support.title' | transloco}}<span class="highlight">{{'LANDINGS.support.title2' | transloco}}</span>{{'LANDINGS.support.title3' | transloco}}
      </h2>
      <ul class="list-actions mb-4">
        <li>{{'LANDINGS.support.list.item1' | transloco}}</li>
        <li>{{'LANDINGS.support.list.item2' | transloco}}</li>
        <li>{{'LANDINGS.support.list.item3' | transloco}}</li>
        <li>{{'LANDINGS.support.list.item4' | transloco}}</li>
        <li><span class="garanty-highlight">{{'LANDINGS.support.list.item5Bold' | transloco}}</span>{{'LANDINGS.support.list.item5' | transloco}}</li>
      </ul>
      <a target="_blank" href="https://api.whatsapp.com/send/?phone=17869354213&text=Hola+vengo+de+Start+Companies+y+quiero+mi+aplicacion+asistida+por+%2499&type=phone_number&app_absent=0" class="cta-button btn btn-primary btn-lg" (click)="onSupportClick()">
        {{'LANDINGS.support.cta' | transloco}}
        <i class="bi bi-arrow-right ms-2"></i>
      </a>
    </div>
    
    <!-- Columna derecha - Imagen -->
    <div class="col-md-6 text-center">
      <div class="support-image-container">
        <app-responsive-image
          [images]="supportImages"
          context="content"
          loading="lazy"
          cssClass="support-image">
        </app-responsive-image>
      </div>
    </div>
  </div>
</div>
