<!-- Hero/Header Section -->
<section class="hero-section">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <img
          src="assets/logo.png"
          alt="Start Companies Logo"
          class="img-fluid"
        />
      </div>
      <div class="col-12 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 hero-title">
          ¿Tienés tu LLC en EE.UU. pero todavía no abriste tu cuenta bancaria?
        </h1>
        <p class="lead hero-description">
          Aprovechá ahora y abrela GRATIS, 100% online y sin comisiones con la
          esencial Apertura Relay!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ratio ratio-16x9">
          <div class="video-container" *ngIf="videoId; else noVideo">
            <app-youtube-player
              [videoId]="videoId"
              [title]="videoTitle"
            ></app-youtube-player>
          </div>

          <ng-template #noVideo>
            <div class="video-placeholder">
              <div class="placeholder-content">
                <span>Video placeholder</span>
              </div>
            </div>
          </ng-template>
          <!--<iframe
            src="https://www.youtube.com/embed/IlsBAs3mepI?autoplay=1&mute=1&start=27"
            title="YouTube video"
            allow="autoplay; encrypted-media"
            allowfullscreen
          ></iframe>-->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="plans-section">
  <app-plans-container></app-plans-container>
</section>

<app-video-section
  title="Relay un banco"
  titleHighlight="seguro y confiable"
  description="mira aquí abajo lo que dicen de nosotros"
  videoUrl="https://www.youtube.com/embed/3UAGKlrvh9Y"
  videoTitle="¿Quieres Abrir una cuenta bancaria con Relay ? - En Start Companies LLC te ayudamos a realizarlo."
></app-video-section>

<!-- "Crea tu cuenta bancaria con Relay" Section -->
<section class="encargo-section py-5">
  <app-support-container></app-support-container>
</section>

<!-- "Start Companies" Card Grid Section -->
<!-- Sección de Testimonios y Clientes -->
<section class="py-5">
  <div class="container my-5 bg-body-tertiary qualifications text-center">
    <div class="d-flex flex-column align-items-center gap-3 p-5">
      <!-- Logo y estrellas -->
      <div class="d-flex align-items-center gap-3">
        <img
          src="/assets/logo-dark.png"
          alt="Logo Start Companies"
          class="img-fluid"
          style="max-width: 60px"
        />

        <div class="qualifications-title text-start">
          <p class="fw-bold mb-0">Start Companies</p>
          <p class="mb-1 text-muted">
            4.8 estrellas, 100 reseñas, "Excellent".
          </p>
          <div class="d-flex justify-content-start text-primary gap-1">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
      </div>

      <!-- Párrafos centrados -->
      <div class="paraphs">
        <p class="paraphs-header">
          Más de 200 emprendedores ya confiaron en Start Companies y nos
          califican como <span class="paraphs-hightlight">“Excelente”.</span>
        </p>
        <p class="paraphs-description">
          Descubre por qué somos la opción elegida para abrir tu cuenta bancaria
          para LLC en EE.UU. de forma rápida, segura, confiable y 100% online.
          Leé sus experiencias reales y conocé cómo los ayudamos a simplificar
          la apertura Relay, optimizar su gestión financiera y hacer crecer sus
          negocios desde cualquier parte del mundo.
        </p>
      </div>

      <!-- Botones -->
      <a
        href="https://www.trustpilot.com/review/www.startcompanies.us"
        class="btn btn-primary qualifications-buttons"
      >
        Lee más reseñas en Trustpilot
      </a>
      <div class="container my-5">
        <app-testimonials-carousel></app-testimonials-carousel>
      </div>
      <a href="#" class="btn btn-primary qualifications-buttons">
        Quiero que lo hagan por mí ($99 USD)
        <i class="bi bi-arrow-right ms-2"></i>
      </a>
      <app-video-grid-section
        title="Lo que dicen nuestros"
        titleHighlight="clientes"
        [videos]="videoTestimonials"
      ></app-video-grid-section>
    </div>
  </div>
</section>

<!-- "Preguntas frecuentes" (FAQ) Section -->
<section class="py-5 pt-5">
  <app-faq></app-faq>
</section>

<!-- Footer Section -->
<!--<app-sc-footer></app-sc-footer>-->
