/* Hero Section */
.hero-section {
  background-image: url("../../../assets/hero-bg.jpg"); /* Imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-fluid {
  width: 7rem;
  height: auto;
}
.hero-title {
  color: var(--color-fondo-claro) !important;
}

.hero-section .lead {
  font-size: 1.5rem;
}
.hero-description {
  color: var(--color-fondo-claro) !important;
}
.hero-section .ratio {
  position: relative;
  z-index: 1;
  margin-bottom: -10rem; /* Ajusta este valor según cuánto quieres que se desborde */
}

.hero-section {
  position: relative;
  z-index: 0;
}

/* Sección de Planes */
.plans-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Sección "¿Querés que nos encarguemos por vos?" */
.encargo-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #ffffff; /* Fondo blanco de la sección */
}

/* Sección de Testimonios y Clientes */
.qualifications {
  border-radius: 2rem !important;
}
.qualifications-descriptions {
  max-width: 700px;
}
.qualifications-buttons {
  background-color: var(--color-secundario-tecnico) !important;
  color: var(--color-fondo-claro) !important;
  border-radius: 2rem !important;
  font-size: 1.3rem !important;
}
.qualifications-title {
  font-size: 1.1rem;
}
.paraphs {
  max-width: 700px;
  font-size: 1.3rem;
  color: var(--color-texto-oscuro);
}
.paraphs-header {
  font-weight: bold;
}
.paraphs-hightlight {
  color: var(--color-secundario-tecnico);
}
.paraphs-description {
  color: var(--color-texto-oscuro);
  font-weight: 500;
}
/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .qualifications-buttons {
    font-size: 0.7rem !important;
  }
  .qualifications-title {
    font-size: 0.7rem;
  }
  .paraphs {
    max-width: 700px;
    font-size: 0.7rem;
    color: var(--color-texto-oscuro);
  }
}
