<section class="key-benefits-section">
  <div class="container">
    <div class="text-center">
      <h2>
        <span class="title-part">{{
          "LANDINGS.startcompanies_benefits" | transloco
        }}</span>
        <span class="title-highlight">{{
          "LANDINGS.startcompanies_hightlight" | transloco
        }}</span>
      </h2>
    </div>

    <div class="text-center">
      <p>{{ "LANDINGS.description" | transloco }}</p>
      <p class="subtitle">
        {{ "LANDINGS.discover_why" | transloco }}
        <span class="highlight">{{ "LANDINGS.200_clients" | transloco }}</span>
        {{ "LANDINGS.calificate_us" | transloco }}
        <span class="highlight">{{ "LANDINGS.excellent" | transloco }}</span
        >.
      </p>
    </div>

    <div class="col-lg-8 mx-auto">
      <div class="row row-cols-1 row-cols-sm-2 g-3 d-flex align-items-stretch">
        <div class="col">
          <div class="card text-center h-100">
            <div class="container pt-3">
              <img
                src="assets/benefits/idea.svg"
                alt="Asesoría fiscal GRATUITA"
                class="img-fluid image-icon"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                {{ "LANDINGS.benefit1.title" | transloco }}
              </h5>
              <p class="card-text benefit-description">
                {{ "LANDINGS.benefit1.description" | transloco }}
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center h-100">
            <div class="container pt-3">
              <img
                src="assets/benefits/clock.svg"
                alt="Pagas al final"
                class="img-fluid image-icon"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ "LANDINGS.benefit2.title" | transloco }}</h5>
              <p class="card-text benefit-description">
                {{ "LANDINGS.benefit2.description" | transloco }}
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center h-100">
            <div class="container pt-3">
              <img
                src="assets/benefits/globe.svg"
                alt="Opera Globalmente"
                class="img-fluid image-icon"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ "LANDINGS.benefit3.title" | transloco }}</h5>
              <p class="card-text benefit-description">
                {{ "LANDINGS.benefit3.description" | transloco }}
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center h-100">
            <div class="container pt-3">
              <img
                src="assets/benefits/remote.svg"
                alt="100% Remoto"
                class="img-fluid image-icon"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ "LANDINGS.benefit4.title" | transloco }}</h5>
              <p class="card-text benefit-description">
                {{ "LANDINGS.benefit4.description" | transloco }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
