.highlight {
  color: var(--color-secundario-tecnico);
}
.subtitle {
  font-size: 1.2rem !important;
}
/* Añade un borde sólido al contenedor para simular el borde de la tabla */
.table-responsive.rounded-3 {
  border: 1px solid #dee2e6; /* Color de borde similar al de Bootstrap */
}
.table-comparison {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden; /* Asegura que los bordes redondeados del contenedor se apliquen correctamente */
}

.table-comparison th,
.table-comparison td {
  padding: 1.5rem 1rem;
  border: 1px solid #dee2e6;
}
/* Elimina el borde superior de la primera fila */
.table-comparison thead tr th {
  border-top: none;
}

/* Estilos para las esquinas redondeadas de la tabla */
.table-comparison thead tr th:first-child {
  border-top-left-radius: 0.5rem; /* El radio del borde, ajusta según sea necesario */
}

.table-comparison thead tr th:last-child {
  border-top-right-radius: 0.5rem; /* El radio del borde, ajusta según sea necesario */
}

.table-comparison tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem; /* El radio del borde, ajusta según sea necesario */
}

.table-comparison tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem; /* El radio del borde, ajusta según sea necesario */
}
.table-comparison thead th {
  color: var(--color-texto-oscuro);
}

.table-comparison tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.table-comparison tbody tr:hover {
  background-color: #e9ecef;
}

.table-feature-column {
  width: 30%; /* Ajusta el ancho de la primera columna para que sea más grande */
  background-color: var(--color-fondo-gris);
  font-weight: 700;
}

.table-plan-column {
  width: 11.66%; /* Para 6 columnas, 100% / 6 = 16.66%, ajusta para la primera columna */
}

/* Estilos para los íconos de check y guión */
.table-comparison td {
  font-size: 1rem;
}
/*Buttons*/
.table-comparison td .btn-primary,
.btn-secondary {
  border-radius: 2.5rem;
  padding: 0.5rem;
  font-size: 0.7rem;
  text-decoration: none;
}
.btn-primary {
  background-color: var(--color-secundario-tecnico);
  color: var(--color-fondo-claro);
}
.btn-secondary {
  background-color: transparent;
  color: var(--color-texto-oscuro);
  border: 1px solid var(--color-texto-oscuro);
}
