<div class="container">
  <h2 class="title-question text-center fw-bold">
    {{ "BLOG.help_title" | transloco }}
  </h2>
  <h3 class="subtitle text-center">{{ "BLOG.can_help_you" | transloco }}</h3>
  <p class="description text-center">
    {{ "BLOG.help_subtitle" | transloco }}
  </p>
  <p class="description text-center">{{"BLOG.your_questions" | transloco}}</p>
  <p class="description text-center">
    Resuélvelas en una consulta gratuita con nuestro equipo de asesores
  </p>
  <div
    class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 mt-4"
  >
    <a
      href="https://api.whatsapp.com/send/?phone=17869354213&text=Hola%2C+vengo+de+Start+Companies.+Tengo+algunas+consultas+para+hacerles.&type=phone_number&app_absent=0"
      target="_blank"
      class="btn-light btn btn-primary d-flex align-items-center"
    >
      Consulta con un experto
      <span class="ms-2">
        <i class="bi bi-arrow-right"></i>
      </span>
    </a>
    <a
      href="/planes"
      class="btn-dark btn btn-outline-primary d-flex align-items-center"
    >
      Planes y precios
      <span class="ms-2">
        <i class="bi bi-arrow-right"></i>
      </span>
    </a>
  </div>
</div>
