<div class="llc-information-step">
    <form [formGroup]="form" *ngIf="showFormInfo" class="overflow-hidden">
        <div class="container-form">
            <div class="row">
                <div class="col">
                    <div class="form-group mb-0">
                        <label>{{ 'WIZARD.llc_info_step.llc_name_one' | transloco }} <span
                                class="text-danger">*</span></label>
                        <input class="form-control" formControlName="nameOne" />
                        <div class="text-secondary small">{{ 'WIZARD.llc_info_step.llc_sufix' | transloco }}</div>
                        <div *ngIf="form.get('nameOne')?.touched && form.get('nameOne')?.invalid"
                            class="text-danger mt-1">
                            {{ 'WIZARD.llc_info_step.llc_name_one_required' | transloco }}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-0">
                        <label>{{ 'WIZARD.llc_info_step.llc_name_two' | transloco }} <span
                                class="text-danger">*</span></label>
                        <input class="form-control" formControlName="nameTwo" />
                        <div class="text-secondary small">{{ 'WIZARD.llc_info_step.llc_sufix' | transloco }}</div>
                        <div *ngIf="form.get('nameTwo')?.touched && form.get('nameTwo')?.invalid"
                            class="text-danger mt-1">
                            {{ 'WIZARD.llc_info_step.llc_name_two_required' | transloco }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-0">
                        <label>{{ 'WIZARD.llc_info_step.llc_name_three' | transloco }} <span
                                class="text-danger">*</span></label>
                        <input class="form-control" formControlName="nameThree" />
                        <div class="text-secondary small">{{ 'WIZARD.llc_info_step.llc_sufix' | transloco }}</div>
                        <div *ngIf="form.get('nameThree')?.touched && form.get('nameThree')?.invalid"
                            class="text-danger mt-1">
                            {{ 'WIZARD.llc_info_step.llc_name_three_required' | transloco }}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-0">
                        <label>{{ 'WIZARD.llc_info_step.llc_main_activity' | transloco }} <span
                                class="text-danger">*</span></label>
                        <input class="form-control" formControlName="mainActivity" />
                        <div *ngIf="form.get('mainActivity')?.touched && form.get('mainActivity')?.invalid"
                            class="text-danger mt-1">
                            {{ 'WIZARD.llc_info_step.llc_main_activity_required' | transloco }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="state">{{ 'WIZARD.llc_info_step.llc_corporate_structure' | transloco }} <span
                                class="text-danger">*</span></label>
                        <select id="state" class="form-control" formControlName="state">
                            <option value="">
                                {{ 'WIZARD.llc_info_step.llc_corporate_structure_placeholder' | transloco }}
                            </option>
                            <option *ngFor="let structureType of structureTypes" [value]="structureType">
                                {{ 'WIZARD.llc_info_step.options_corporate_structure.' +
                                structureType.toLowerCase().replace(' ',
                                '_') | transloco }}
                            </option>
                        </select>

                        <div *ngIf="form.get('state')?.touched && form.get('state')?.invalid" class="text-danger mt-1">
                            {{ 'WIZARD.state_step.required' | transloco }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wizard-custom-navigation">
            <button mat-raised-button type="button" class="wizard-nav-button wizard-nav-button-next"
                (click)="goToNextStep()">
                {{ 'WIZARD.llc_info_step.add_propietaries' | transloco }}
            </button>
        </div>
    </form>
    <div class="overflow-hidden">
        <div *ngIf="!showFormInfo" class="container-form">
            <h5>{{ 'WIZARD.llc_info_step.add_propietaries' | transloco }}</h5>
            <div class="container">
                <div class="row row-cols-3 ">
                    <!-- Members -->
                    <div class="col" *ngFor="let member of members">
                        <div class="member-card">
                            Hols
                        </div>
                    </div>
                    <!-- Botón SIEMPRE al final -->
                    <div class="col button-add-owner" (click)="addMember()">
                        <i class="bi bi-plus-lg"></i>
                        {{ 'WIZARD.llc_info_step.add_owner' | transloco }}
                    </div>

                </div>
            </div>
        </div>
        <div class="wizard-custom-navigation">
            <button *ngIf="!showFormInfo" mat-stroked-button type="button"
                class="wizard-nav-button wizard-nav-button-next" (click)="goToPreviousStep()">
                {{ 'WIZARD.llc_info_step.return_to_info' | transloco }}
            </button>

        </div>
    </div>

</div>