<div class="pricing-carousel-container d-md-none">
  <div
    id="pricingCarouselMobile"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-interval="5000"
  >
    <div class="carousel-inner d-flex h-100">
      <div class="carousel-item active h-100">
        <div class="card recommended-card h-100">
          <div class="card-body d-flex flex-column">
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <div class="recommended-badge fw-400 mb-2">
                {{ "CONTENT.pricing.entrepreneur_pack.header" | transloco }}
              </div>
            </div>
            <h3 class="card-title text-center fw-700 mb-3">
              {{ "CONTENT.pricing.entrepreneur_pack.title" | transloco }}
            </h3>
            <p class="card-price text-center mb-2 fw-bold">
              {{ "CONTENT.pricing.entrepreneur_pack.price" | transloco }}
            </p>
            <ul>
              <li>
                {{
                  "CONTENT.pricing.entrepreneur_pack.description.1" | transloco
                }}
              </li>
              <li>
                {{
                  "CONTENT.pricing.entrepreneur_pack.description.2" | transloco
                }}
              </li>
            </ul>
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <a
                href="/apertura-llc"
                class="btn-primary d-flex align-items-center justify-content-center fw-600 mb-2"
              >
                {{ "CONTENT.pricing.entrepreneur_pack.button" | transloco }}
                <i class="bi bi-arrow-right ms-2"></i>
              </a>
            </div>
            <div class="card-features">
              <h6>
                {{
                  "CONTENT.pricing.entrepreneur_pack.includes.title"
                    | transloco
                }}:
              </h6>
              <ul>
                <li>
                  {{
                    "CONTENT.pricing.entrepreneur_pack.includes.1" | transloco
                  }}
                </li>
                <li>
                  {{
                    "CONTENT.pricing.entrepreneur_pack.includes.2" | transloco
                  }}
                </li>
                <li>
                  {{
                    "CONTENT.pricing.entrepreneur_pack.includes.3" | transloco
                  }}
                </li>
                <li>
                  {{
                    "CONTENT.pricing.entrepreneur_pack.includes.4" | transloco
                  }}
                </li>
                <li>
                  {{
                    "CONTENT.pricing.entrepreneur_pack.includes.5" | transloco
                  }}
                </li>
                <li>
                  {{
                    "CONTENT.pricing.entrepreneur_pack.includes.6" | transloco
                  }}
                </li>
                <li>
                  {{
                    "CONTENT.pricing.entrepreneur_pack.includes.7" | transloco
                  }}
                </li>
                <li>
                  {{
                    "CONTENT.pricing.entrepreneur_pack.includes.8" | transloco
                  }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item h-100">
        <div class="card pack-card h-100">
          <div class="card-body d-flex flex-column">
            <h3 class="card-title text-center fw-700 mb-3">
              {{ "CONTENT.pricing.elite_pack.title" | transloco }}
            </h3>
            <p class="card-price-pack fw-bold text-center">
              {{ "CONTENT.pricing.elite_pack.price" | transloco }}
            </p>
            <ul>
              <li>
                {{ "CONTENT.pricing.elite_pack.description.1" | transloco }}
              </li>
              <li>
                {{ "CONTENT.pricing.elite_pack.description.2" | transloco }}
              </li>
            </ul>
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <a
                href="/apertura-llc"
                class="btn-secondary d-flex align-items-center justify-content-center fw-600 mb-2"
              >
                {{ "CONTENT.pricing.elite_pack.button" | transloco }}
                <i class="bi bi-arrow-right ms-2"></i>
              </a>
            </div>
            <div class="card-features">
              <h6>
                {{ "CONTENT.pricing.elite_pack.includes.title" | transloco }}:
              </h6>
              <ul>
                <li>
                  {{ "CONTENT.pricing.elite_pack.includes.1" | transloco }}
                </li>
                <li>
                  {{ "CONTENT.pricing.elite_pack.includes.2" | transloco }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item h-100">
        <div class="card pack-card h-100">
          <div class="card-body d-flex flex-column">
            <h3 class="card-title text-center fw-700 mb-3">
              {{ "CONTENT.pricing.premium_pack.title" | transloco }}
            </h3>
            <p class="card-price-pack fw-bold text-center">
              {{ "CONTENT.pricing.premium_pack.price" | transloco }}
            </p>
            <ul>
              <li>
                {{ "CONTENT.pricing.premium_pack.description.1" | transloco }}
              </li>
              <li>
                {{ "CONTENT.pricing.premium_pack.description.2" | transloco }}
              </li>
            </ul>
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <a
                href="/apertura-llc"
                class="btn-secondary d-flex align-items-center justify-content-center fw-600 mb-2"
              >
                {{ "CONTENT.pricing.premium_pack.button" | transloco }}
                <i class="bi bi-arrow-right ms-2"></i>
              </a>
            </div>
            <div class="card-features">
              <h6>
                {{ "CONTENT.pricing.premium_pack.includes.title" | transloco }}:
              </h6>
              <ul>
                <li>
                  {{ "CONTENT.pricing.premium_pack.includes.1" | transloco }}
                </li>
                <li>
                  {{ "CONTENT.pricing.premium_pack.includes.2" | transloco }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-indicators pricing-carousel-indicators">
      <button
        type="button"
        data-bs-target="#pricingCarouselMobile"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#pricingCarouselMobile"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#pricingCarouselMobile"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
  </div>
</div>
