.sc-post-hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.sc-post-hero .container {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sc-hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.sc-post-path {
  font-size: 1.2rem;
  color: var(--color-fondo-claro);
  font-weight: 200;
}
.sc-post-title {
  font-size: 2.5rem;
  color: var(--color-fondo-claro);
  font-weight: bold;
}
.image-post-container {
  position: absolute;
  top: 26rem;
  left: 0;
  z-index: 2;
}
.image-post-container img {
  width: 850px;
  height: 400px;
}
@media (max-width: 1200px) {
  .image-post-container {
    top: 24rem;
  }
  .image-post-container img {
    width: 800px;
  }
}
@media (max-width: 992px) {
  .image-post-container {
    top: 26rem;
  }
  .image-post-container img {
    width: 700px;
    height: 350px;
  }
}
@media (max-width: 769px) {
  .image-post-container {
    top: 30rem;
  }
  .image-post-container img {
    width: 600px;
    height: 300px;
  }
}
@media (max-width: 576px) {
  .image-post-container {
    top: 34rem;
  }
  .image-post-container img {
    width: 450px;
    height: 225px;
  }
}
@media (max-width: 425px) {
  .image-post-container {
    top: 36rem;
  }
  .image-post-container img {
    width: 380px;
    height: 190px;
  }
}
@media (max-width: 375px) {
  .image-post-container {
    top: 38rem;
  }
  .image-post-container img {
    width: 330px;
    height: 165px;
  }
}
@media (max-width: 320px) {
  .image-post-container {
    top: 38rem;
  }
  .image-post-container img {
    width: 280px;
    height: 140px;
  }
}
