.proposal-card {
  background: var(--color-fondo-gris);
  border-radius: 2rem;
  padding: 2rem;
}
.card-number {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secundario-tecnico);
}
.card-title {
  font-size: 1.1rem !important;
  font-weight: 700;
  color: var(--color-texto-oscuro);
  margin: 0 0 1rem 0;
  font-family: "Arial", sans-serif;
  line-height: 1.3;
  width: 150px;
}
.card-description {
  font-size: 0.9rem;
  color: var(--color-texto-oscuro);
  font-family: "Arial", sans-serif;
  text-align: justify;
}
.proposal-title{
  font-size: 3.5rem;
  font-weight: 700;
}
.title-accent {
  color: var(--color-secundario-tecnico);
}
@media (max-width: 768px) {
  .proposal-title{
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .proposal-title{
    font-size: 1.5rem;
  }
  .card-number{
    text-align: center;
  }
}