<!-- SEO Base Component -->
<app-seo-base routeKey="blog"></app-seo-base>

<app-sc-header></app-sc-header>
<section class="sc-blog-hero py-5">
  <app-responsive-image 
    [images]="heroImages" 
    context="hero" 
    loading="eager"
    cssClass="sc-hero-bg">
  </app-responsive-image>
  
  <div class="container py-5">
    <div class="row align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis">
          Blog de Start Companies: Tu Ruta para Emprender en EE.UU.
        </h1>
      </div>
      <div class="col-lg-6">
        <p class="lead">
          Descubre consejos, guías y estrategias para abrir y gestionar tu LLC
          en Estados Unidos. Ideal para freelancers, startups y negocios
          digitales que buscan crecer sin complicaciones.
        </p>
      </div>
    </div>
  </div>
</section>
<!--Articles Carrousel-->
<section class="my-5">
  <app-blog-articles></app-blog-articles>
</section>
<app-blog></app-blog>
<section class="my-5">
  <app-blog-questions></app-blog-questions>
</section>
<app-sc-footer></app-sc-footer>
