<div class="state-selection-step">
  <h4 class="mb-3">{{ 'WIZARD.state_step.title' | transloco }}</h4>

  <form [formGroup]="form">
    <div class="form-group">
      <label for="state">{{ 'WIZARD.state_step.label' | transloco }}</label>
      <select id="state" class="form-control" formControlName="state">
        <option value="">
          {{ 'WIZARD.state_step.placeholder' | transloco }}
        </option>
        <option *ngFor="let state of states" [value]="state">
          {{ 'WIZARD.state_step.options.' + state.toLowerCase() | transloco }}
        </option>
      </select>

      <div
        *ngIf="form.get('state')?.touched && form.get('state')?.invalid"
        class="text-danger mt-1"
      >
        {{ 'WIZARD.state_step.required' | transloco }}
      </div>
    </div>
  </form>
</div>
