<div class="container p-5">
  <h1 class="text-center mb-3">
    Comparación detallada de <span class="highlight">planes</span>
  </h1>
  <h3 class="fw-400 subtitle text-center mb-5">
    Todos nuestros planes incluyen los servicios esenciales para crear y
    gestionar tu LLC de manera exitosa.
  </h3>
  <div class="table-responsive rounded-3">
    <table class="table text-center table-bordered table-comparison mb-0">
      <thead>
        <tr>
          <th scope="col" class="table-feature-column">Características</th>
          <th scope="col" class="table-plan-column">Emprendedor</th>
          <th scope="col" class="table-plan-column">Elite</th>
          <th scope="col" class="table-plan-column">Premium</th>
          <th scope="col" class="table-plan-column">Banco</th>
          <th scope="col" class="table-plan-column">Renovación</th>
          <th scope="col" class="table-plan-column">Multas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start table-feature-column">Precio</th>
          <td class="fw-bold">$499</td>
          <td class="fw-bold">$599</td>
          <td class="fw-bold">$1,200</td>
          <td class="fw-bold">$150</td>
          <td class="fw-bold">$600</td>
          <td class="fw-bold">$300</td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            Ideal para
          </th>
          <td>
            Freelancers, agencias y startups sin presencia física en EEUU.
          </td>
          <td>Empresas / Emprendedores con presencia física en EEUU.</td>
          <td>Emprendedores que buscan una solución integral.</td>
          <td>LLCs ya constituidas sin banco o buscando alternativa.</td>
          <td>LLC que quiere mudar el servicio de renovación con nosotros.</td>
          <td>Levantamiento/reducción de multas y planes de pago.</td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            Constitución de LLC
          </th>
          <td>En Nuevo México</td>
          <td>En cualquier estado</td>
          <td>En cualquier estado</td>
          <td>–</td>
          <td>–</td>
          <td>–</td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            Apertura de cuenta bancaria
          </th>
          <td>7 días</td>
          <td>7 días</td>
          <td>7 días</td>
          <td>A distancia (Relay/Mercury)</td>
          <td>–</td>
          <td>–</td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            Dirección fiscal y social para apertura bancaria
          </th>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>–</td>
          <td>–</td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            Disponible sin importar tu ubicación física
          </th>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            Representante legal (Registered Agent)
          </th>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            Renovación automática
          </th>
          <td>–</td>
          <td>–</td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>–</td>
          <td>–</td>
          <td>–</td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            Documentación completa
          </th>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>–</td>
          <td>–</td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            Asesoría en sistemas de pago Stripe/ventas
          </th>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>–</td>
          <td>–</td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            Asesoría en emisión de acciones
          </th>
          <td>–</td>
          <td>–</td>
          <td>–</td>
          <td>–</td>
          <td>–</td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            Consulta de planificación fiscal
          </th>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>–</td>
          <td>–</td>
          <td>–</td>
          <td>–</td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            Reporte BOR obligatorio para cumplimiento legal
          </th>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>–</td>
          <td>–</td>
          <td>–</td>
        </tr>
        <tr>
          <th scope="row" class="text-start table-feature-column">
            E-book sobre LLCs
          </th>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>
            <img src="assets/check.svg" alt="Check" width="48" height="48" />
          </td>
          <td>–</td>
          <td>–</td>
          <td>–</td>
        </tr>
        <tr>
          <th scope="row" class="table-feature-column"></th>
          <td>
            <a href="/apertura-llc" class="btn-primary"> Elegir plan </a>
          </td>
          <td>
            <a href="/apertura-llc" class="btn-secondary"> Elegir plan </a>
          </td>
          <td>
            <a href="/apertura-llc" class="btn-secondary"> Elegir plan </a>
          </td>
          <td>
            <a href="/apertura-banco-relay" class="btn-secondary"> Elegir plan </a>
          </td>
          <td>
            <a href="/renovar-llc" class="btn-secondary"> Elegir plan </a>
          </td>
          <td>
            <a href="https://wa.me/+17869354213?text=Hola, vengo de Start Companies. Necesito ayuda con multas de mi LLC." target="_blank" class="btn-secondary"> Elegir plan </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
