<app-sc-header></app-sc-header>
<section class="sc-plans-hero py-5">
  <div class="container py-5">
    <div class="row align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis">
          Expande Tu Negocio: abre tu LLC en EE.UU.
        </h1>
      </div>
      <div class="col-lg-6">
        <p class="lead">
          Crea tu empresa en Estados Unidos y accede a tu cuenta bancaria sin
          residencia. Start Companies te ofrece todo lo que necesitas para
          operar globalmente, sin complicaciones.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <app-our-pricing></app-our-pricing>
</section>
<section>
  <app-comparison-table></app-comparison-table>
</section>
<app-sc-footer></app-sc-footer>
