<app-sc-header></app-sc-header>
<section class="sc-plans-hero py-5">
  <app-responsive-image
    [images]="heroImages"
    context="hero"
    loading="eager"
    cssClass="sc-hero-bg"
  >
  </app-responsive-image>

  <div class="container py-5">
    <div class="row align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis">
          {{ "PLANS.intro.title" | transloco }}
        </h1>
      </div>
      <div class="col-lg-6">
        <p class="lead">
          {{ "PLANS.intro.subtitle" | transloco }}
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <app-our-pricing></app-our-pricing>
</section>
<section>
  <app-comparison-table></app-comparison-table>
</section>
<app-sc-footer></app-sc-footer>
<!-- Botón flotante central inferior -->
<div
  class="fixed-bottom d-flex justify-content-center mb-4 boton-flotante-oculto"
>
  <button
    data-cal-link="startcompanies-businessenusa/agenda-organica"
    data-cal-namespace="agenda-organica"
    data-cal-config='{"layout":"month_view","theme":"light"}'
    type="button"
    class="btn sc-btn-accent px-4 py-3 shadow-lg"
  >
    {{'NAVBAR.call' | transloco}} <i class="bi bi-arrow-right ms-2"></i>
  </button>
</div>
