<app-sc-header></app-sc-header>
<section class="py-5 sc-hero" #heroSection>
  <div
    id="carouselExampleIndicators"
    class="carousel slide mb-6 px-4 py-5"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="mission-card row align-items-center my-5 g-5 py-5">
            <div class="col-lg-6">
              <div class="mission-image-container">
                <img
                  src="assets/us/mission-person.jpg"
                  alt="Emprendedor trabajando"
                  class="mission-image img-fluid"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mission-content">
                <h2 class="mission-title">
                  {{ "US.mission.title" | transloco }}
                </h2>
                <p class="mission-description">
                  {{ "US.mission.description" | transloco }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="container">
          <div class="mission-card row align-items-center my-5 g-5 py-5">
            <div class="col-lg-6">
              <div class="mission-image-container">
                <img
                  src="assets/us/vision.jpg"
                  alt="Visión de la empresa"
                  class="mission-image img-fluid"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mission-content">
                <h2 class="mission-title">
                  {{ "US.vision.title" | transloco }}
                </h2>
                <p class="mission-description">
                  {{ "US.vision.description" | transloco }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<app-us-strategies></app-us-strategies>-->
<app-video-section
  title="Estrategía empresarial"
  titleHighlight="efectiva"
  description="Descubre cómo hacemos realidad negocios exitosos"
  videoUrl="https://www.youtube.com/embed/0CivIEY-Cl0"
  videoTitle="¿Qué hace Start Companies LLC ? | Soluciones en Contabilidad, Impuestos y Tecnología para tu LLC"
></app-video-section>
<app-us-potential></app-us-potential>
<app-us-proposal></app-us-proposal>
<app-sc-footer></app-sc-footer>
