/* =========================
   CONTACT SECTION
   ========================= */
.contact-section {
  background-image: url("../../../assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-input {
  color: var(--color-fondo-claro);
  background: transparent;
  border-color: var(--color-fondo-claro);
  border-radius: 2rem;
}

.btn-submit {
  border-radius: 2.5rem;
  background: var(--color-secundario-tecnico);
  width: 9rem;
}
.form-label{
  color: var(--color-fondo-claro);
  font-size: 1.5rem;
  font-weight: 400;
  font-style: Regular;
  line-height: 1;
  letter-spacing: 0;
}
.text-body-emphasis{
  color: var(--color-fondo-claro) !important;
  font-size: 3.5rem;
}
.lead{
  color: var(--color-fondo-claro) !important;
  font-size: 1.5rem;
}
@media (max-width: 480px) {
  .text-body-emphasis{
    font-size: 2.5rem;
  }  
}
