<!-- SEO Base Component -->
<app-seo-base routeKey="contacto"></app-seo-base>

<app-sc-header></app-sc-header>
<section class="contact-section py-5" #heroSection>
  <picture>
    <source srcset="../../../assets/hero-bg.webp" type="image/webp">
    <img src="../../../assets/hero-bg.jpg" alt="Hero Background" class="sc-hero-bg">
  </picture>
  <div class="container py-5">
        <div class="row align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis">
                    {{'CONTACT.title' | transloco}}
                </h1>
                <p class="lead">
                    {{'CONTACT.description' | transloco}}
                </p>
            </div>
            <div class="col-lg-6">
                <form action="" class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="name" class="form-label">
                                {{'CONTACT.name' | transloco}}
                            </label>
                            <input type="text" class="form-control contact-input" id="name" placeholder value required>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">{{'CONTACT.email' | transloco}}</label>
                            <input type="email" class="form-control contact-input" id="email" placeholder value required>
                        </div>
                        <div class="col-12">
                            <label for="message" class="form-label">{{'CONTACT.message' | transloco}}</label>
                            <textarea name="message" id="message" class="form-control contact-input h-100" placeholder value
                                required></textarea>
                        </div>
                    </div>
                    <div class="row py-5">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary btn-lg btn-submit">
                                <span>{{'CONTACT.send' | transloco}}</span>
                                <svg class="arrow-icon" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<app-contact-advice></app-contact-advice>
<app-sc-footer></app-sc-footer>